extends base

block content
     main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Account Search
            form.form.form--forgotPassword
                .form-group.ma-bt-md
                    label.form__label(for='email') Enter Email
                    input#email.form__input(type="email", name="email" required)
                .form__group
                    button.btn.btn--green.btn--forgotPassword(type="submit") Send Reset Link