extends base

block content
     main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset Password
            form.form.form--resetPassword
                .form-group.ma-bt-md
                    label.form__label(for='password') New Password
                    input#password.form__input(type="password", name="password" required)
                .form-group.ma-bt-md
                    label.form__label(for='confirmPassword') Confirm Password
                    input#confirmPassword.form__input(type="password", name="confirmPassword" required)
                .form__group
                    button.btn.btn--green.btn--resetPassword(type="submit") Reset Password